<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Databases" type="System.Configuration.NameValueSectionHandler" />
    <section name="Export" type="System.Configuration.NameValueSectionHandler" />
    <section name="Hotkey" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <appSettings>
    <!-- Affichage de toutes les requêtes SQL -->
    <add key="debugMode" value="false"/>
    <!-- DB d'actions principale -->
    <add key="defaultDB" value="TdM"/>
    <!-- Définition du "futur proche" (en nb de jours) -->
    <add key="P1length" value="5"/>
  </appSettings>
  
  <!-- Chemins des différentes DB -->
  <!-- Key = Nom de la base dans l'IHM -->
  <!-- Value = Chemin vers la base -->
  <Databases>
    <add key="TdM" value="../Data/dbActions.db3"/>
    <add key="Déploiement" value="../Data/dbActionsVide.db3"/>
  </Databases>
  
  <!-- Valeurs possibles pour l'export -->
  <!-- Business: (Sujet),(Action),(Statut),(DueDate) -->
  <!-- Génériques: (VIDE),(TAB),(NOW) -->
  <!-- Exemple: <add key="Toto" value="(Sujet)(TAB)(Action)(TAB)(Statut)" /> -->
  <Export>
  </Export>
  
  <!-- Raccourcis clavier interceptés par TaskLeader -->
  <!-- Valeurs spéciales de touches: CTRL,ALT,MAJ,WIN -->
  <!-- Exemple: CTRL+ALT+T-->
  <!-- Nom des pages accessibles: NewAction, ListeActions -->
  <Hotkey>    
    <add key="NewAction" value="CTRL+N" />
    <add key="ListeActions" value="CTRL+L" />
  </Hotkey>
   
</configuration>
