<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ExportSection" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="debugMode" value="false"/>
    <add key="cheminDB" value="../Data/dbActions.db3"/>
    <add key="newActionChained" value="false"/>
    <add key="dureeTooltip" value="2"/>
  </appSettings>
  <ExportSection>
    <add key="Toto" value="(Sujet)(TAB)(Action)(TAB)(Statut)" />
    <add key="Titi" value="(Sujet)(TAB)(Action)(TAB)(NOW)(TAB)(DueDate)(TAB)(VIDE)(TAB)(VIDE)(TAB)(Statut)" />
  </ExportSection>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v4.0" />
  </startup>
</configuration>
