<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="debugMode" value="false"/>
    <add key="cheminDB" value="../Data/dbActionsTest.db3"/>
    <add key="newActionChained" value="true"/>
    <add key="dureeTooltip" value="2"/>
    <add key="sbaTemplate" value="(Sujet)(TAB)(Action)(TAB)(Statut)"/>
    <add key="sensTemplate" value="(Sujet)(TAB)(Action)(TAB)(NOW)(TAB)(DueDate)(TAB)(VIDE)(TAB)(VIDE)(TAB)(Statut)"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v4.0" />
  </startup>
</configuration>
